<div class="footer-container">
    <br>
    <button type="button" class="btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg>
        VIEW MAP
    </button>
    <br>
    <div class="social">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-youtube"></i>
    </div>
    <br>
    <div class="texts">
        © 2018 Highlands Coffee. All rights reserved<br>
        <span><i class="bi bi-telegram"></i></span> Đăng ký để nhận bản tin<br>
        <i class="bi bi-envelope"></i> customerservice<i class="bi bi-at"></i>highlandscoffee.com.vn
    </div>
    <br>
</div>